apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  interval: 10m
  chart:
    spec:
      chart: nextcloud
      version: "5.5.2"
      sourceRef:
        kind: HelmRepository
        name: nextcloud
        namespace: flux-system
  values:
    nextcloud:
      host: nextcloud.sovereign.local
      existingSecret:
        enabled: false
    persistence:
      enabled: true
      size: 50Gi
    postgresql:
      enabled: true
      global:
        postgresql:
          auth:
            database: nextcloud
            username: nextcloud
    redis:
      enabled: true
    ingress:
      enabled: true
      className: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.tls: "true"
    cronjob:
      enabled: true
